@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Merriweather+Sans&display=swap");
.background {
  padding: 10px 0;
  background: white;
  position: relative;
}
.box-shadow {
  box-shadow: 4px 4px 10px rgb(166, 166, 167);
}
.image {
  width: 100%;
  height: 100%;
}
.custom-text {
  text-align: center;
  font-weight: bold;
  padding: 2rem;
  font-size: 2rem;
  font-family: "Merriweather Sans", sans-serif;
  color: #438c96;
}
.image-logo {
  width: 50%;
  height: 70%;
  align-items: center;
  justify-content: center;
  /* @media (max-width: 768px) {
    width: 20px;
    height: 50%;
  }
  @media (max-width:  480px) {
    width: 20px;
    height: 50%;
  } */
}
.container-item {
  height: 200px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}
.custom-text1 {
  font-weight: bold;
  padding-top: 1rem;
  font-size: 2rem;
  font-family: "Merriweather Sans", sans-serif;
  color: #438c96;
}
@media (max-width: 768px) {
  .custom-text1 {
    font-size: 1rem;
  }
  .custom-text {
    font-size: 1rem;
  }
}
/* @media (max-width: 480px) {
  .custom-text1 {
    font-size: 1rem;
  }
} */
/* .container-item-head {
  font-weight: bold;
  text-align: center;
  color: black !important;
}
.container-item-head {
  text-align: center;
  justify-content: center;
  color: black !important;
} */
.price {
  font-weight: bold;
  color: #438c96;
  padding: 0.5rem;
  font-size: 1.1rem;
}
.total-price {
  color: rgb(102, 98, 98) !important;
  /* padding: 1rem; */
  text-decoration: line-through;
}
.price-discount {
  color: black !important;
}
.shopping-cart {
  padding: 5%;
  color: black !important;
}
.des {
  color: black !important;
}
.jumbotron {
  background-color: #438c96;
}
.Text {
  color: white;
  /* text-align: center; */
  /* padding: 5%; */
  /* margin-top: 8% !important; */
}
.Text h1 {
  padding: 3%;
  text-decoration: underline;
  font-family: "Bitter", serif;
  font-size: 2.5rem;
  /* text-align: center; */
  /* margin: 2% !important; */
}
.button {
  background-color: white !important;
  color: #438c96 !important;
  font-weight: bold;
  margin-bottom: 1.5% !important;
  border-radius: 20px !important;
}
.button:hover {
  color: white !important;
  background-color: #438c96 !important;
}
.button-lg {
  font-size: 1.5rem !important;
  border-radius: 20px !important;
}
.card {
  padding: 2% !important;
  /* margin: 0.5% !important; */
}
.para {
  padding: 1% !important;
}
/* .service{
    background-image: url("./water.jpeg");
    background-size: cover;
    height: 100%;
} */
/* .contain {
    position: relative;
    text-align: center;
    color: white;
    padding: 1% !important;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
.image-slider {
  width: 100%;
  height: 100%;
  /* padding: 2%; */
}
/* .centered h1{
      font-size: 5rem;
  }
  .centered h4{
      font-weight: bold;
      font-size: 2rem;
  } */

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #438c96;
}
.button-service {
  color: white !important;
  background-color: #438c96 !important;
  margin: 0.8% !important;
  border-radius: 20px !important;
}
.input-field {
  width: 100% !important;
}
.heading-form {
  padding: 5%;
  font-weight: bold;
  text-decoration: underline;
}
.heading-product {
  text-align: center;
  font-weight: bolder;
  padding: 3%;
  text-decoration: underline;
}
.link {
  text-decoration: none;
}

/* ----------WHY CHOOSE US---------- */
.why-us-card-text1 {
  text-align: center;
  font-weight: bold;
  font-family: "Merriweather Sans", sans-serif;
}
.why-us-card-text2 {
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  /* overflow: scroll; */
}
.stickyNav {
  position: fixed;
  top: 0;
  z-index: 16;
  width: 100%;
}
.nav-bar-batch {
  background-color: aqua;
  /* width: 60px; */
  padding: 2px 4px;
  height: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 800;
}
.nav-bar-element {
  width: 50%;
  /* padding: 2px 4px;
  height: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 800; */
}
