@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Merriweather+Sans&display=swap');
.image{
    width: 100%;
    height: 100%;
}
.whyus{
    text-align: center;
    font-weight: bold;
    padding: 2rem;
    font-size: 2rem;
    text-decoration: underline;
    font-family: 'Merriweather Sans', sans-serif;
    color: #438C96;
}
.image-logo{
    width: 100%;
    height: 70%;
}
.new-product{
    font-weight: bold;
    padding: 3rem;
    font-size: 2rem;
    text-decoration: underline;
    font-family: 'Merriweather Sans', sans-serif;
    color: #438C96;
}
.c-head{
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

.price{
    font-weight: bold;
    color: #438C96;
    padding: 0.5rem;
    font-size: 1.1rem;
}
.total-price{
    color: rgb(102, 98, 98);
    /* padding: 1rem; */
    text-decoration: line-through;
}
.shopping-cart{
padding: 5%;
}
.jumbotron{
    background-color: #438C96;
}
.Text{
    color: white;
    /* text-align: center; */
    /* padding: 5%; */
    /* margin-top: 8% !important; */
   
}
.Text h1{
    padding: 3%;
    text-decoration: underline;
    font-family: 'Bitter', serif;
    font-size: 2.5rem;
    /* text-align: center; */
    /* margin: 2% !important; */
}
.button{
    background-color: white !important;
    color: #438C96 !important;
    font-weight: bold;
    margin-bottom: 1.5% !important;
    border-radius:20px !important;
}
.button:hover{
    color: white !important;
background-color: #438C96 !important;
}
.button-lg{
    font-size: 1.5rem !important;
    border-radius: 20px !important;
}
.card{
    padding: 2% !important;
    /* margin: 0.5% !important; */
}
.para{
    padding: 1% !important;
}